body {
    background-color: darkgray;
}

main {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    background-color:blanchedalmond;
}

nav {
    background-color: crimson;
    box-shadow: 0, 0;
    padding: 20px;
    display: flex;
}

main > h1 {
    font-family: Lato, monospace, sans-serif;
    font-size:40px;    
    color: black;
    outline-color: black;
    outline-width: 1px;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction:column;
    flex-grow: 1;
}


h1 {
    font-family: monospace, sans-serif;
    font-size:xx-large;
    color: darkmagenta;
    outline-color: black;
    outline-width: 1px;
}

p {
    font-family: sans-serif;
    color: darkslategray;
    font-size: medium;
}

#contact-link {
    float: right;
    padding: 10px;
    margin-left: auto;
}

nav > a {
    font-family: sans-serif;
    text-decoration: none;
    color:blanchedalmond;
    background-color: brown;
    margin-right: 10px;
    padding: 10px;
}
nav > a:hover {
    color: aliceblue;
    background-color: gray;
}

a {
    font-family: sans-serif;
    color:blanchedalmond;
}

a:hover {
    color: aliceblue;
    
}

input#textbox {
    background-color:white;
    padding: 10px;
    font-size: large;
    font-family: sans-serif, monospace;
    width: 80%
}



