<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KB-CAPTCHA Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../static/css/styles.css" th:href="@{/css/styles.css}">
    </head>
    <body>
        <nav>
            <a href="/about">About KB-CAPTCHA</a>
            <a href="https://github.com/DowdyJ/KB-CAPTCHA/tree/main" target="_blank">Source Code</a>
            <a id="contact-link" href="mailto:joeldowdy12@gmail.com">Contact</a>
        </nav>

        <main>           
            <h1>KB-CAPTCHA Demo</h1>
            <p>Welcome to the demo for the KB-CAPTCHA solution! </p>
            <div>
                <p id="test-label">This webpage serves as a demonstration of the functionality of the CAPTCHA solution. Feel free to jump right into the test down <a href="#testing-area">below</a>, or read about the motivation behind the project <a href="/about">here</a>.</p>
                <p id="test-explanation">The test below will record your keystrokes and make a prediction on your humanity! It does this by analyzing the following:</p>
                <ul id="analysis-methods">
                    <li>Average value and standard deviation for the duration that you hold down keys</li>
                    <li>Median value and interquartile range (IQR) for the time between keystrokes</li>
                    <li>How often your keys overlap when you type (two consecutive keys pressed at the same time)</li>
                </ul>
                <p id="test-instructions">This system is content agnostic! 
                    That means you can type anything into the box. 
                    However, <b>spamming your keyboard with random input or using very short inputs are unlikely to produce typical typing behavior.</b> 
                    For best results, try typing a sentence or two. If you need ideas, feel free to try the button below to get a quote from Marcus Aurelius' <cite>Meditations</cite>!</p>
                
                <div id="sample-sentence-container">
                    <p id="sample-sentence">Click the button to get an example sentence!</p>
                    <button id="sample-sentence-generator">Generate sentence!</button>
                </div>
                
                <div id="testing-area">
                    <input id="textbox" type="text" placeholder="Start typing here..." />
                    <button id="submit-data">Submit</button>
                </div>

                <div id="results-area">
                    <h2>Your Results</h2>
                    <p>Strokes per minute: <span id="strokes-per-minute-score">0</span></p>
                    <p>Average key hold time: <span id="avg-key-hold-time">N/A</span> milliseconds</p>
                    <p>Stroke delay IQR: <span id="stroke-delay-iqr">N/A</span> milliseconds</p>
                    <p>Key hold time standard deviation: <span id="key-hold-time-std-dev">N/A</span> milliseconds</p>
                    <p>Overlap percentage: <span id="overlap-percentage-score">N/A</span>%</p>
                    <p id="humanity-result">...</p>
                </div>
            </div>
            
        </main>
        <script th:src="@{/js/mainpage.js}" async defer></script>
    </body>
</html>